<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/65a5a4a3-c9e8-4111-8aa1-a591088d1417/resourcegroups/comunidad/providers/Microsoft.Web/sites/iotrest</ResourceId>
    <ResourceGroup>comunidad</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotrest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iotrest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iotrest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iotrest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IotEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maestria.database.windows.net,1433;Initial Catalog=iot;Persist Security Info=False;User ID=cristiansrc;Password=80876Brunito;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CRISTIANSRC\SQLDEVELOPER;Initial Catalog=Iot;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IotEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IotContext.csdl|res://*/IotContext.ssdl|res://*/IotContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRISTIANSRC\SQLDEVELOPER;initial catalog=Iot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IotEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/IotContext.csdl|res://*/IotContext.ssdl|res://*/IotContext.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:maestria.database.windows.net,1433;initial catalog=iot;persist security info=False;user id=cristiansrc;password=80876Brunito;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>